@page
@using YIN_Portal.Areas.Identity.Pages;
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Log in</title>
    <link rel="shortcut icon" href="/plugins/images/pak-logo-tr2.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/plugins/images/pak-logo-tr2.png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"     crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>

    <!-- <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">



     
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }

        .rounded-edges-log {
            border-radius: 0px !important;
            border-bottom: solid 2px green;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: white;
            text-align: left;
        }

        .btn-primary {
            background-color: green;
            border-color: green;
        }

            .btn-primary:hover {
                background-color: green;
                border-color: green;
            }

        select {
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
        }

            select::-ms-expand {
                /* For IE10 */
                display: none;
            }

      /*  .imagesB {
            background-image: url("/plugins/images/background.png");
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            align-items: center;
        }*/
        .image-illustration{
                background-image: url(/img/pop.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-size: 65%;
                background-position-y: -80px;
}
        
        .imagesB {
            /*background-image: url("/plugins/images/background.png");*/
            background-image: url("/img/Rectangle.png");
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }

        .flex-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .flex-item{
            /* color: red; */
            width: 40%;
            height: 1px;
            background: #000;
        }

        .image-icon {
            left: 14px;
            position: absolute;
            top: 16px;
        }
        .left-bar{
            left: 41px;
            position: absolute;
            height: 24px;
            background: #b5b5b5;
            width: 3px;
            top: 13px;
        }

        .input-searchicon {
            text-align: center;
        }


        ::-webkit-input-placeholder {
            text-align: center;

        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }

    </style>
</head>

<body class="container-fluid bg-white vh-100 overflow-hidden imagesB p-0">

        
        <div class="image-illustration">
        <section class="vh-100  ">
            <div class="container-fluid  py-5 h-100">
                <div class="row d-flex justify-content-end align-items-center h-100">
                     
                    <div class="col-12 col-md-8 col-lg-4 col-xl-4 mr-5 mr-lg-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem ">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">Sign in</h3>

                                <div class="form-outline mb-4 position-relative">
                                    <img src="/icons-login/person.png" class="image-icon"/>
                                    <span class="left-bar"></span>
                                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg input-searchicon" placeholder="Email" />
                                    @*<label class="form-label" for="typeEmailX-2">Email</label>*@
                                </div>

                                <div class="form-outline mb-4 position-relative">
                                    <img src="/icons-login/key.png" class="image-icon" />
                                    <span class="left-bar"></span>
                                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg input-searchicon" placeholder="Password" />
                          @*          <label class="form-label" for="typePasswordX-2">Password</label>*@
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                                </div>

                                <button class="btn  btn-lg btn-block text-light" style="background-color:#E0B663" type="submit">Login</button>

                                @*<hr class="my-4">*@
                                <div class="flex-container my-4">
                                    <div class="flex-item"></div>Or<div class="flex-item"></div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary my-4" style="background-color: #ECF2FC;  color:black;"
                                        type="submit">
                                    <i class="h4 me-2 fab fa-apple">&nbsp;</i>  Continue with Apple
                                </button>
                                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                        type="submit">
                                    <i class="fab fa-google me-2"></i> Sign in with google
                                </button>
                               @* <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                        type="submit">
                                    <i class="fab fa-facebook-f me-2"></i>Sign in with facebook
                                </button>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



      </div> 

       
   


</body>

</html>



